<%- include('partials/header.ejs') %>

<h3>Page de recherche</h3>

<form action="/search/results">

    <input type="search" name="recherche">
    
    <button>
        Rechercher
    </button>
    <!-- Alternative -->
    <!-- <input type="submit" value="Rechercher"> -->
</form>

<%- include('partials/footer.ejs') %>